@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {

    --checkbox-bg: linear-gradient(
        150deg,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );

    // Dark mode colors
    --bg-clr-dark: hsl(235, 21%, 11%);
    --list-bg-clr-dark: hsl(235, 24%, 19%);
    --list-text-dark: hsl(234, 39%, 85%);
    --hover-dark: hsl(236, 33%, 92%);
    --checked-text-dark: hsl(233, 14%, 35%);
    --border-clr-dark: hsl(237, 14%, 26%);
    --text-clr-dark: hsl(235, 16%, 43%);
    --bg-img-dark: url("./images/bg-desktop-dark.jpg");

    // Light mode colors
    --bg-clr-light: hsl(0, 0%, 98%);
    --list-text-light: hsl(235, 19%, 35%);
    --checked-text-light: hsl(233, 11%, 84%);
    --border-clr-light: hsl(236, 33%, 92%);
    --text-clr-light: hsl(236, 9%, 61%);
    --bg-img-light: url("./images/bg-desktop-light.jpg");

    --bg-clr: var(--bg-clr-dark);
    --list-bg-clr: var(--list-bg-clr-dark);
    --list-text-clr: var(--list-text-dark);
    --hover-clr: var(--hover-dark);
    --checked-text-clr: var(--checked-text-dark);
    --border-clr: var(--border-clr-dark);
    --text-clr: var(--text-clr-dark);
    --bg-img: var(--bg-img-dark);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul */
ul{
    list-style: none;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Font inherit */
input, button, textarea, select {
    font: inherit;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.125rem;
    transition: 0.5s ease-in;
}

main {
    display: grid;
    justify-items: center;
    grid-auto-rows: min-content;
    min-height: 100vh;
    background-color: var(--bg-clr);
    padding-bottom: 3rem;
}

.bg {
    display: grid;
    grid-template-rows: 300px 1fr;
    width: 100%;

    &__top {
        height: 300px;
        background-image: var(--bg-img);
        background-size: cover;
    }
}

.app {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 75px;


    header {
        display: flex;
        justify-content: space-between;

        h1 {
            font-size: 2.65rem;
            letter-spacing: 15px;
            color: #fafafa;
        }

        .theme-switcher {
            background-color: transparent;
            border: none;
        }
    }
}

.add-task{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem;
    background-color: var(--list-bg-clr);
    padding: 1.2rem 1.5rem;
    border-radius: 5px;
    // box-shadow: 10px -25px 28px rgb(0 0 0 / 30%);
    margin-top: 2rem;
    // margin-bottom: 1rem;
    position: relative;

    &__btn {
        display: grid;
        place-content: center;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        border: 1px solid var(--checked-text-clr);
        background-color: transparent;
        color: var(--checked-text-clr);
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__input {
        font-size: 1.125rem;
        border: none;
        padding-block: 3px;
        background-color: transparent;
        color: var(--list-text-clr);

        &:focus {
            outline: 1px solid var(--checked-text-clr);
        }
    }
}

.tasks {
    background-color: var(--list-bg-clr);

    &__container {
        padding: 0;
    }
}

.task {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;
    align-items: center;
    padding: 1.2rem 1.5rem;
    border-bottom: 1px solid var(--checked-text-clr);

    &__check {
        background-color:  var(--list-bg-clr);
        border: 1px solid var(--checked-text-clr);

    }

    &__text {
        color: var(--list-text-clr);
    }

    &__remove-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--list-bg-clr);
    width: 23px;
    height: 23px;
    border: 1px solid var(--checked-text-clr);
    border-radius: 50%;
    margin: 0;

    display: grid;
    place-content: center;

    &:hover {
        background: 
        linear-gradient(var(--list-bg-clr), var(--list-bg-clr)) padding-box,
        linear-gradient(150deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
        border: 1px solid transparent;
        border-radius: 50%;
    }
}
